@model ML.Aseguradora
@{
    ViewData["Title"] = "Form";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h1>@ViewBag.Title</h1>
    @if (ViewBag.Message != null)
    {
        <div class="row mt-3">
            <div class="col-sm-12">
                <div class="alert alert-primary alert-dismissible fade show" role="alert">
                    <strong>@ViewBag.Message</strong>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            </div>
        </div>
    }
    <div class="col-lg-12">
        @using (Html.BeginForm(Html.BeginForm("Form", "Aseguradora", FormMethod.Post, new { enctype = "multipart/form-data" })))
        {
            <div class="form">
                @Html.AntiForgeryToken()
                <div class="col-md-3">
                    @Html.HiddenFor(model => model.IdAseguradora)
                </div>
                <div class="form-group mt-3">
                    <p class="fs-4">Información de la aseguradora</p>
                </div>
                <div class="d-flex mt-3 mb-5 row justify-content-center">

                    <div class="col-md-4">
                        @Html.LabelFor(model => model.Nombre, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="input-group">
                            <span class="input-group-text" id="basic-addon1"><i class="bi bi-fonts"></i></span>

                            @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
                        </div>

                    </div>
                    <div class="col-md-3">
                        @Html.LabelFor(model => model.Usuario.IdUsuario, "Usuario", htmlAttributes: new { @class = "control-label col-md-2" })
                        @if (Model.Usuario.Usuarios == null)
                        {
                            @Html.DropDownListFor(model => model.Usuario.IdUsuario, new SelectList(string.Empty, "Value", "Text"), "Selecciona un Usuario", htmlAttributes: new { id = "ddlUsuario", @class = "form-select" })
                            @Html.ValidationMessageFor(model => model.Usuario.IdUsuario, null, new { @class = "text-danger" })
                        }
                        else
                        {
                            <div class="input-group">
                                <span class="input-group-text" id="basic-addon1"><i class="bi bi-person-lines-fill"></i></span>
                                @Html.DropDownListFor(model => model.Usuario.IdUsuario, new SelectList(Model.Usuario.Usuarios, "IdUsuario", "NombreCompleto"), "Selecciona un Usuario", htmlAttributes: new { id = "ddlUsuario", @class = "form-select" })
                                @Html.ValidationMessageFor(model => model.Usuario.IdUsuario, null, new { @class = "text-danger" })
                            </div>
                        }
                    </div>
                </div>
                <div class="d-flex mt-4 justify-content-center">
                    <div class="me-3">
                        <a class="btn btn-danger bi bi-arrow-left-square-fill" href="@Url.Action("GetAll", "Aseguradora")" onclick="return confirm('¿No se guardaran los cambios, quieres continuar?')"> Regresar</a>
                    </div>
                    <div class="">
                        <button class="btn btn-success">
                            <i class="bi bi-check-square-fill" type="submit"> Guardar</i>
                        </button>
                    </div>
                </div>


            </div>
        }
    </div>

</div>
@section Scripts{
    <script src="https://code.jquery.com/jquery-3.6.1.js" integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI=" crossorigin="anonymous"></script>
    <script type="text/javascript">

    </script>
}

